{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn"]
}
